body {
  background-color: CornflowerBlue;
  font-family: 'K2D', sans-serif;
}

h1 {
  margin: 30px auto 10px auto;
  font-weight: bold;
}

#description {
  margin: 10px auto;
  font-weight: bold;
}

form {
  background-color: steelblue;
  width: 80%;
  margin: 10px auto 20px auto;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  box-shadow: 10px 15px 18px #2980b9;
}

textarea {
 width: 100%;
}

#checkbox {
  margin-top: 10px;
}

#random {
  margin-top: -15px;
  margin-bottom: 20px;
}

#radio {
  margin-top: 20px;
}

#radio-options {
  margin-top: -15px;
}

#suggestions {
  margin-bottom: -15px;
}

#submit {
  border-color: steelblue;
  background-color: lightsteelblue;
 }

#submit:hover {
  background-color: steelblue;
}

a {
  color: blue;
}

a:hover {
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 480px) {
  #number, #name, #email, #dropdown {font-size: 13px;}
  
}
